fastapi>=0.132.0
uvicorn[standard]>=0.41.0
langchain>=1.2.10
langchain-openai>=1.1.10
langchain-community>=0.4.1
langchain-milvus>=0.3.3
llama-stack>=0.5.0
langgraph-prebuilt>=1.0.0
llama-stack>=0.5.0
llama-stack-client>=0.5.0
openai>=2.21.0
milvus-lite>=2.5.1
python-dotenv>=1.2.1
setuptools>=80.9.0,<82.0.0